.container {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    gap: 8px;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    background-color: plum;
    border: 1px red solid;
    width: 200px;
    height: 150px;
    flex: 1 0 auto;
}
